{% extends 'base.html' %}


{% block content %}
<div class="container">             
  <div class="row" id="word-row">
    <div class="col-md-3 col-md-offset-4">
        <div class="row">
          <div class="col-md-12">
            <div id="word"></div>
          </div>
        
        </div>
    </div>
    <div class="col-md-8 col-md-offset-4">
          <div id="explanation">
            <ul id="explanation-list">
                <!-- 单词中文翻译 -->
            </ul>
          </div>
    </div>
    <!-- </div> -->
  </div>

<!-- 进度条 -->
  <div class="progress">
    <div id="percentage-repeat" class="progress-bar progress-bar-striped active" style="">
      <span ></span>
    </div>
    <div id="percentage-forget" class="progress-bar progress-bar-warning progress-bar-striped active " style="" >
      <span ></span>
    </div>
  </div>
  

  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#example" aria-controls="example" role="tab" data-toggle="tab">例句</a></li>
    <li role="presentation"><a href="#notes" aria-controls="notes" role="tab" data-toggle="tab">笔记</a></li>
    <li role="presentation"><a href="#synonym" aria-controls="synonym" role="tab" data-toggle="tab">近义词</a></li>
  </ul>
  
  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="example">
      <div id="example-container">
        <ol id="example-list">
        <!-- append by nextWord()-->
        </ol>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="notes">
      <div id="notes-container">
        <ul class="container" id="notes-list">
          <!-- 笔记列表-->
        </ul>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="synonym">
      <div id="synonym-container">
        <ul id="synonym-list">
            <!-- 近义词列表-->
        </ul>
      </div>
    </div>
  </div>
</div>
{% include 'modals.html'%}
{% endblock %}




{%block script%}
<script type="text/javascript">
var index = 0;//单词索引
var repeat_count = 1;
var forget_count = 1;


$(document).ready(function(){
  $.get("/loadwordlist/",
  {
      user_id:$('#user_id').attr('name')
  },
  function(data,status){
    sessionStorage.clear();
    $("#new_count").text(data.new_count)
    $("#review_count").text(data.review_count)
    // 把接收到的 json 数据序列化并存储
    $.each(data.word_list, function(i,item){ 
          sessionStorage.setItem(i,JSON.stringify(item));
    }); 
  });
  $("#welcomeModal").modal('show');

//   if(sessionStorage.length==0)
//`	window.location.reload();
//  do_right();//首先加载第一个单词
});



// 响应向右按钮，标记该单词认识
function do_right(){
  
  nextWord(1);
  updateProgressBar(repeat_count,"repeat");
  repeat_count++;
  
}
// 响应向左按钮，标记该单词不认识
function do_left(){
  
  nextWord(-1);
  updateProgressBar(forget_count,"forget");  
  forget_count++;
  

}
// 响应向下按钮，标记该单词无需复习
function do_never(){
  nextWord(8);//FIXME:magic number 直接完成，不再复习
  updateProgressBar(repeat_count,"repeat");
  repeat_count++;
}


//响应向上按钮，弹出笔记框
function write_note() {
  $('#noteModal').modal('show');
}

// 更新进度条
function updateProgressBar(count,type){
console.log(sessionStorage.length)
  percentage=parseInt(count*100/sessionStorage.length);
  if (type=="repeat") {
    $("#percentage-repeat").css('width',percentage+'%');
    $("#percentage-repeat").children('span').text(percentage+'%');
  }
  else if(type=="forget"){
    $("#percentage-forget").css('width',percentage+'%');
    $("#percentage-forget").children('span').text(percentage+'%');
  }
}


// 注册按钮事件
$(document).keydown(function(event){ 
  if(event.keyCode == 37&&(index<sessionStorage.length)){          //left
    do_left(); 
  }else if (event.keyCode == 39&&(index<sessionStorage.length)){   //right
    do_right(); 
  }else if (event.keyCode == 38&&(index<sessionStorage.length)){   //up
    write_note();
  }else if(event.keyCode == 40&&(index< sessionStorage.length)){    //down
    do_never();
  }
});

// 显示下一个单词
function nextWord(repeat_times){

  if (forget_count+repeat_count>sessionStorage.length) {
    $("#finishModal").modal('show');
    index++;
    return;
  }
  var key =sessionStorage.key(index);
  var word= JSON.parse(sessionStorage.getItem(key));
  $("#word").text(key);
  $("#notes-list").html('');
  $("#example-list").html('');
  $("#synonym-list").html('');
  $("#explanation-list").html('');

  for (var i = 0; i < word.explanation.length; i++) {
    $("#explanation-list").append('<li>'+word.explanation[i]+'</li>');
  }

  for (var i = 0; i < word.notes.length; i++) {
    $("#notes-list").append('<li class="row"><blockquote class="col-md-12" cite=From：'+word.notes[i].author+' class="col-md-10">'+word.notes[i].body+'</blockquote></li>');
  }
  for (var i = 0; i < word.example.length; i+=3) {
    $("#example-list").append('<li><div>'+word.example[i]+'</div><div>'+word.example[i+1]+'</div></li>');
  }
  for (var i = 0; i < word.synonym.length; i++) {
    if (word.synonym[i]!='') {
      $("#synonym-list").append('<li>'+word.synonym[i]+'</li>');
    }
  }
  $("#word_id_input").val(word.id);
  $.get("/learningList/",
  {
      word_id:word.id,
      repeat:repeat_times,
  },
  function(){
    index++;
  });
}

// ajax 添加笔记
$("#addNoteBtn").click(function(){
  $.get("/addNewNote/",
  {
      word_id:$("#word_id_input").val(),
      note:$("#note_content").val(),
  },
  function(){
    $('#noteModal').modal('hide');
    $("#notes-list").append('<li class="row"><blockquote class="col-md-12" cite=From：'+"{{user.username}}"+' class="col-md-10">'+$("#note_content").val()+'</blockquote></li>')
});
});


</script> 
{% endblock %}
