.main-container{
	margin-left: 1px;
	margin-right: 1px;
	position:relative;min-height:100%;
}

#footer-wrapper{
	margin-top:20px;
	background-color: #eee;
	text-align: center;
}

#content{

	margin-bottom: 20px;
	margin-top:20px;
}

.spliter{
	height: 2px;
	background-color: #000000;
	margin-bottom: 10px;
	margin-top: 15px;
}

.as-modal{
 background-color:rgba(10, 157, 243, 0.13);

}
.head-pic-postioner{
	    margin-bottom: -50px;
}
.profile-postioner{
	height: 80px;
    background-color: #fefefe;
    box-shadow: 0px 0px 7px 2px #000;
    z-index:1000;
}
.resetBtn-postioner{
	float: right;
    margin-top: -70px;
    width: 50px;
}
.name-postioner{
	margin-top: -23px;
    text-align: center;
}
.custom-btn-green{
	background-color: #DFF0D8;
}
.custom-btn-red{
	background-color: #F2DEDE;
}
.custom-edit{
	float: right;
}

.custom-btn-gray{
	background-color: #EEEEEE;
}
#statusMessage{
	margin-bottom:0px;
}
.alert-content{
    height: 50px;
    text-align: center;
    padding-top: 15px;
    background-color:#ff0000;
}
.actions{
	margin-bottom: 15px;
}

.more{
	text-align: right;
}

.profile-pic{
  max-width: 50px;
  max-height:50px;
  /*margin-top: 5px;*/
}

#word{
	font-size: 60px;
	text-align: center;
}

#explanation{
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 20px;
	/*text-align: center;*/
}
.tab-content{
	margin-top: 20px;
	font-size: 25px;
}
#notes-container >ul>li{
	margin-top: 10px;
}
#notes-container >ul>li{
	margin-top: 10px;
}
#notes-container>ul{
	list-style: none;
}
#notes-container span{
	margin-left: 20px;
}
#etymology-container blockquote{
	font-size: 20px;
}
blockquote{
	font-size: 25px;
}
blockquote[cite]:after {
    background-color: #337ab7;
    color: #ffffff;
    content: attr(cite);
    display: block;
    font-size: 15px;
    /*font-style: normal;*/
    padding: 0 0.2em;
    position: absolute;
    /*r/ight: 0.5em;*/
}
.nav-btn{
	padding: 10px;
    font-size: 20px;
    border: 0px;
    background-color: #f8f8f8;
}
.statics{
	margin:20px;
	font-size: 20px;
}
.statics span{
	font-size: 32px;
    color: #337ab7;
    /*box-shadow: 1px 1px 2px 1px #bbb4b4;*/
}
.instruction{
	margin:20px;
}
#word-row{
	height: 300px;
}